@import "scss/_variables.scss";
@import "scss/mixins.scss";

.search{
    background: $heavy_metal;
    border-radius: $system_border_radius;
    .inputRoot{
        &::placeholder{
            color: $gray_nurse;
            font-size: 12px;
        }
        div{
            border-radius: 10px;
            input{
                font-size: 14px;
                color: $gray_nurse;
                &::placeholder{
                    font-size: 12px;
                    color: $gray_nurse;
                    opacity: 0.5;
                }
            }
        }
        svg > path{
            fill: $gray_nurse;
            opacity: 0.5;
        }
    }
}